In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [1]:
from package.src.loading import DataLoader
loader = DataLoader('/mnt/c/users/bensa/Downloads/kidney_disease.csv',test_size=0.1)
loader.load(target_column="classification")

[]
id
age
bp
sg
al
su
rbc
pc
pcc
ba
bgr
bu
sc
sod
pot
hemo
pcv
wc
rc
htn
dm
cad
appet
pe
ane

In [2]:
X_train, y_train,X_test,y_test = loader.X_train, loader.y_train, loader.X_test, loader.y_test
from package.src.preprocessing import FeatureSelector
from package.src.preprocessing import DataPreprocessor, DataNormaliser
pp = DataPreprocessor(missing_data_strategy= "mean", categorical_encoding= "label")
fs = FeatureSelector()
dn = DataNormaliser()
X_train,y_train= pp.fit_transform(X_train,y_train)
X_test,y_test=pp.transform(X_test,y_test)

rbc
pc
pcc
ba
pcv
wc
rc
htn
dm
cad
appet
pe
ane
classification
age
bp
sg
al
su
rbc
pc
pcc
ba
bgr
bu
sc
sod
pot
hemo
pcv
wc
rc
htn
dm
cad
appet
pe
ane
id
age
bp
sg
al
su
rbc
values_taken ['abnormal', 'normal']
pc
values_taken ['abnormal', 'normal']

/home/reda/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

pcc
values_taken ['notpresent', 'present']
ba
values_taken ['notpresent', 'present']
bgr
bu
sc
sod
pot
hemo
pcv
wc
rc
htn
values_taken ['yes', 'no']
dm
values_taken ['\tno', 'yes', ' yes', 'no', '\tyes']
('\tno', 'no')
('yes', ' yes')
('yes', '\tyes')
(' yes', '\tyes')
cad
values_taken ['\tno', 'yes', 'no']
('\tno', 'no')
appet
values_taken ['good', 'poor']
pe
values_taken ['yes', 'no']
ane
values_taken ['yes', 'no']
classification
values_taken ['ckd', 'notckd', 'ckd\t']
('ckd', 'ckd\t')
rbc
pc
pcc
ba
pcv
wc
rc
htn
dm
cad
appet
pe
ane
classification
age
bp
sg
al
su
rbc
pc
bgr
bu
sc
sod
pot
hemo
pcv
wc
rc
correcting rbc
correcting pc
correcting pcc
correcting ba
correcting htn
correcting dm
correcting cad
correcting appet
correcting pe
correcting ane
correcting classification

/mnt/c/users/bensa/Downloads/Projet3A_ML/package/src/preprocessing/_preprocess.py:94: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.data[col_name][self.data[col_name] == values_to_exchange[0]] = values_to_exchange[1]
/mnt/c/users/bensa/Downloads/Projet3A_ML/package/src/preprocessing/_preprocess.py:100: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.data[col_name][self.data[col_name] == values_to_exchange[0]] = values_to_exchange[1]

In [3]:
X_train

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane
231,231,60.0,90.0,1.017359,1.040498,0.462264,1,1,0,0,...,11.5,35.0,8391.011719,4.700001,1,0,1,0,1,0
295,295,44.0,70.0,1.017359,1.040498,0.462264,1,1,0,0,...,15.0,50.0,9600.000000,6.500000,0,1,0,0,0,0
160,160,81.0,60.0,1.017359,1.040498,0.462264,1,1,0,0,...,10.9,35.0,9400.000000,2.400000,1,0,1,1,1,0
111,111,65.0,80.0,1.010000,3.000000,3.000000,1,1,0,0,...,10.0,32.0,9000.000000,3.900000,1,0,1,0,0,0
26,26,75.0,80.0,1.015000,0.000000,0.000000,1,1,0,0,...,11.6,35.0,10300.000000,4.000000,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,115,47.0,80.0,1.010000,0.000000,0.000000,1,0,0,0,...,12.4,44.0,5600.000000,4.300000,0,1,0,0,0,1
250,250,40.0,80.0,1.025000,0.000000,0.000000,1,1,0,0,...,15.0,48.0,10400.000000,4.500000,0,1,0,0,0,0
159,159,59.0,80.0,1.010000,1.000000,0.000000,0,1,0,0,...,10.4,35.0,10900.000000,4.300000,0,0,0,1,0,0
10,10,50.0,60.0,1.010000,2.000000,4.000000,1,0,1,0,...,9.4,28.0,8391.011719,4.700001,1,0,0,0,0,1
338,338,62.0,80.0,1.020000,0.000000,0.000000,1,1,0,0,...,17.8,44.0,4700.000000,4.500000,0,1,0,0,0,0

In [4]:
X_test

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane
287,287,39.000000,70.000000,1.025000,0.000000,0.000000,1,1,0,0,...,13.400000,43.000000,8391.011719,4.700001,0,1,0,0,0,0
118,118,55.000000,70.000000,1.010000,3.000000,0.000000,1,1,0,0,...,11.400000,38.973064,8391.011719,4.700001,0,1,0,1,1,0
304,304,33.000000,80.000000,1.025000,0.000000,0.000000,1,1,0,0,...,13.100000,45.000000,6200.000000,4.500000,0,1,0,0,0,0
259,259,35.000000,80.000000,1.020000,0.000000,0.000000,1,1,0,0,...,16.100000,45.000000,4300.000000,5.200000,0,1,0,0,0,0
307,307,47.000000,60.000000,1.020000,0.000000,0.000000,1,1,0,0,...,13.600000,44.000000,7900.000000,4.500000,0,1,0,0,0,0
148,148,69.000000,60.000000,1.017359,1.040498,0.462264,1,1,0,0,...,12.555414,38.973064,8391.011719,4.700001,1,1,0,1,0,0
69,69,26.000000,70.000000,1.015000,0.000000,4.000000,1,1,0,0,...,15.600000,52.000000,6900.000000,6.000000,0,0,0,0,0,0
319,319,30.000000,60.000000,1.020000,0.000000,0.000000,1,1,0,0,...,12.555414,38.973064,8391.011719,4.700001,0,1,0,0,0,0
344,344,64.000000,60.000000,1.020000,0.000000,0.000000,1,1,0,0,...,14.400000,42.000000,8100.000000,4.700000,0,1,0,0,0,0
117,117,51.790368,70.000000,1.020000,0.000000,0.000000,1,1,0,0,...,12.500000,37.000000,9800.000000,4.400000,0,1,0,0,0,0
141,141,67.000000,70.000000,1.010000,1.000000,0.000000,1,1,0,0,...,6.100000,19.000000,6500.000000,4.700001,1,1,0,0,0,1
104,104,55.000000,90.000000,1.017359,1.040498,0.462264,1,1,0,0,...,12.555414,38.973064,8391.011719,4.700001,1,0,0,1,1,0
110,110,63.000000,90.000000,1.015000,0.000000,0.000000,1,1,0,0,...,11.700000,34.000000,11400.000000,4.700000,0,1,0,0,0,0
191,191,51.790368,70.000000,1.010000,3.000000,0.000000,1,1,0,0,...,9.100000,26.000000,9200.000000,3.400000,1,0,0,1,0,0
106,106,50.000000,90.000000,1.017359,1.040498,0.462264,1,1,0,0,...,6.000000,17.000000,6500.000000,4.700001,1,0,0,0,1,1
93,93,73.000000,100.000000,1.010000,3.000000,2.000000,0,0,1,0,...,9.200000,30.000000,7000.000000,3.200000,1,0,1,1,0,0
15,15,40.000000,80.000000,1.015000,3.000000,0.000000,1,1,0,0,...,7.600000,24.000000,3800.000000,2.800000,1,1,0,0,0,1
23,23,21.000000,70.000000,1.010000,0.000000,0.000000,1,1,0,0,...,12.555414,38.973064,8391.011719,4.700001,0,1,0,1,0,1
132,132,50.000000,76.742857,1.017359,1.040498,0.462264,1,1,0,0,...,8.600000,24.000000,13200.000000,2.700000,1,1,0,0,1,1
302,302,29.000000,70.000000,1.020000,0.000000,0.000000,1,1,0,0,...,14.800000,48.000000,8391.011719,4.700001,0,1,0,0,0,0
325,325,58.000000,80.000000,1.020000,0.000000,0.000000,1,1,0,0,...,14.000000,50.000000,6700.000000,6.500000,0,1,0,0,0,0
399,399,58.000000,80.000000,1.025000,0.000000,0.000000,1,1,0,0,...,15.800000,53.000000,6800.000000,6.100000,0,1,0,0,0,0
385,385,63.000000,70.000000,1.020000,0.000000,0.000000,1,1,0,0,...,16.500000,52.000000,8000.000000,5.100000,0,1,0,0,0,0
255,255,34.000000,80.000000,1.025000,0.000000,0.000000,1,1,0,0,...,13.600000,52.000000,9200.000000,6.300000,0,1,0,0,0,0
364,364,73.000000,80.000000,1.025000,0.000000,0.000000,1,1,0,0,...,14.800000,45.000000,9300.000000,4.700000,0,1,0,0,0,0
202,202,78.000000,60.000000,1.017359,1.040498,0.462264,1,1,0,0,...,8.000000,24.000000,8391.011719,4.700001,0,0,0,0,0,1
62,62,15.000000,60.000000,1.020000,3.000000,0.000000,1,1,0,0,...,11.000000,33.000000,7700.000000,3.800000,1,0,0,0,0,0
350,350,65.000000,70.000000,1.025000,0.000000,0.000000,1,1,0,0,...,16.100000,43.000000,9600.000000,4.500000,0,1,0,0,0,0
50,50,53.000000,60.000000,1.017359,1.040498,0.462264,1,1,0,0,...,8.600000,28.000000,11000.000000,3.800000,1,0,0,1,1,1
367,367,68.000000,60.000000,1.025000,0.000000,0.000000,1,1,0,0,...,17.400000,50.000000,6700.000000,6.100000,0,1,0,0,0,0
373,373,61.000000,70.000000,1.025000,0.000000,0.000000,1,1,0,0,...,13.700000,47.000000,9200.000000,4.900000,0,1,0,0,0,0
185,185,4.000000,76.742857,1.020000,1.000000,0.000000,1,1,0,0,...,12.000000,34.000000,8391.011719,4.700001,0,1,0,0,0,0
190,190,6.000000,60.000000,1.010000,4.000000,0.000000,0,0,0,1,...,9.900000,30.000000,16700.000000,4.800000,0,1,0,1,0,0
17,17,47.000000,80.000000,1.017359,1.040498,0.462264,1,1,0,0,...,12.100000,38.973064,8391.011719,4.700001,1,1,0,1,0,0
40,40,46.000000,90.000000,1.010000,2.000000,0.000000,1,0,0,0,...,11.100000,32.000000,9100.000000,4.100000,1,1,0,0,0,0
177,177,65.000000,80.000000,1.015000,2.000000,1.000000,1,1,1,0,...,13.200000,41.000000,8391.011719,4.700001,0,0,0,0,0,0
388,388,51.000000,80.000000,1.020000,0.000000,0.000000,1,1,0,0,...,15.500000,46.000000,9500.000000,6.400000,0,1,0,0,0,0
180,180,73.000000,90.000000,1.010000,1.000000,4.000000,0,0,1,0,...,10.300000,28.000000,8391.011719,4.700001,0,0,0,0,0,0
365,365,24.000000,80.000000,1.020000,0.000000,0.000000,1,1,0,0,...,12.555414,38.973064,10700.000000,6.300000,0,1,0,0,0,0
119,119,60.000000,70.000000,1.010000,0.000000,0.000000,1,1,0,0,...,12.555414,38.973064,8391.011719,4.700001,0,1,0,0,0,0

In [5]:
dn.fit(X_train)
X_train=dn.transform(X_train)
X_test=dn.transform(X_test)
fs.pca_fit(X_train)

25 componenents (PCA)

In [6]:
X_train.shape

(360, 25)

In [7]:
X_test.shape

(40, 25)

In [8]:
X_train=fs.pca_transform(X_train)
X_test=fs.pca_transform(X_test)

data reduced to 20 dimensions
data reduced to 20 dimensions

In [9]:
X_train

array([[ 1.66389173e+00, -1.76727839e+00, -1.18778628e+00, ...,
        -9.57074869e-01,  2.58410506e-01, -1.00701620e+00],
       [-3.06096936e+00, -6.10791048e-01,  6.94861036e-01, ...,
        -4.26412255e-01,  1.78385181e-01, -1.22029797e-01],
       [ 2.52993674e+00, -1.50820375e+00, -3.45271259e-01, ...,
         3.64507892e-01, -5.83029060e-01, -1.48198956e-03],
       ...,
       [ 1.88297824e+00, -8.89644973e-01,  9.80862144e-02, ...,
        -5.02255185e-01, -2.01644953e-01, -1.56900253e+00],
       [ 4.48089963e+00, -3.14282057e+00,  7.02298325e-01, ...,
        -2.05526472e-01, -3.60205248e-02,  6.39760665e-01],
       [-2.76338263e+00, -1.02726161e-01, -2.65372811e-01, ...,
         5.30079784e-01,  5.67903423e-02, -2.11245438e-01]])

In [11]:
y_train

231    0
295    1
160    0
111    0
26     0
      ..
115    0
250    1
159    0
10     0
338    1
Name: classification, Length: 360, dtype: int8

In [35]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
import numpy as np

class Model():
    def __init__(self, model):
        if model not in ["LogisticRegression", "DecisionTrees","KNN","SVM","RandomForest"]:
            raise Exception("Model not supported \n choose in list ....  ")
        self.model = model
        self.skmodel = None
        self.params = None
        if self.model == "LogisticRegression":
            self.skmodel = LogisticRegression()
            self.params = {'C': [0.001, .009, 0.01, .09, 1, 5, 10, 25]}
        elif self.model == "DecisionTrees":
            self.skmodel = DecisionTreeClassifier()
            self.params ={'min_samples_split': range(10, 500, 20), 'max_depth': range(1, 20, 2), 'criterion': ['gini', 'entropy']}
        elif self.model == "KNN":
            self.skmodel = KneighborsClassifier()
            self.params ={'n_neighbors': [4, 5, 6, 7], 'leaf_size': [1, 3, 5], 'weights': ['uniform', 'distance']}
        elif self.model == "SVM":
            self.skmodel = SVC()
            self.params = {}
        elif self.model == "RandomForest":
            self.skmodel = RandomForestClassifier()
            self.params = {}
            
    def fit(self,X,Y,params_dic): 
        if self.model == "LogisticRegression":
            self.skmodel = LogisticRegression(params_dic)
            self.skmodel.fit(X,Y)
    def predict(self,X):
        return self.skmodel.predict(X)

    def cross_validation_score(self, X_train: np.array, y_train: np.array, metric = "accuracy", k=10):
        evaluation = []
        for i in range(k):
            X_test_fold = X_train[int((i / k) * len(X_train)):int(((i + 1) / k) * len(X_train))]
            y_test_fold = y_train[int((i / k) * len(y_train)):int(((i + 1) / k) * len(y_train))]
            X_train_fold = np.concatenate(
                (X_train[:int((i / k) * len(X_train))], X_train[int(((i + 1) / k) * len(X_train)):]))
            y_train_fold = np.concatenate(
                (y_train[:int((i / k) * len(y_train))], y_train[int(((i + 1) / k) * len(y_train)):]))
            self.skmodel.fit(X_train_fold, y_train_fold)
            y_pred = self.skmodel.predict(X_test_fold)
            if metric == "accuracy":
                evaluation.append(self.accuracy(y_test_fold, y_pred))
            else : 
                evaluation.append(self.f1_score(y_test_fold, y_pred))

                
            evaluation.append(self.f1_score(y_test_fold, y_pred))
        return np.mean(evaluation)



    @staticmethod
    def f1_score(y_true, y_predict):
        p = 0
        r = 0
        n_classes = y_true.nunique()
        for i in range(n_classes):
            tp = sum(((y_true == i) & (y_predict == i)))
            fp = sum(((y_true != i) & (y_predict == i)))
            fn = sum(((y_true == i) & (y_predict != i)))
            p += tp / (tp + fp)
            r += tp / (tp + fn)
        p = p / n_classes
        r = r / n_classes
        return 2 * p * r / (p + r)
    @staticmethod    
    def accuracy (y_true, y_predict):
        good_predictions = np.sum((y_true == y_predict)*1)
        return good_predictions /len(y_true)

In [37]:
model = Model("LogisticRegression")
model.cross_validation_score(X_train,y_train,"accuracy")

1.0