In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
from package.src.loading import DataLoader
loader = DataLoader('./data/data_banknote_authentication.txt',test_size=0.6,header=False)
loader.load(target_column=4)

[]
0
1
2
3

In [3]:
from package.src.loading import DataLoader
loader = DataLoader('./data/kidney_disease.csv',test_size=0.1)
loader.load(target_column="classification",columns_to_remove=['id'])

['id']
age
bp
sg
al
su
rbc
pc
pcc
ba
bgr
bu
sc
sod
pot
hemo
pcv
wc
rc
htn
dm
cad
appet
pe
ane

In [4]:
loader.X

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,15.4,44,7800,5.2,yes,yes,no,good,no,no
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,11.3,38,6000,NaN,no,no,no,good,no,no
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,9.6,31,7500,NaN,no,yes,no,poor,no,yes
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,11.2,32,6700,3.9,yes,no,no,poor,yes,yes
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,11.6,35,7300,4.6,no,no,no,good,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,140.0,...,15.7,47,6700,4.9,no,no,no,good,no,no
396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,75.0,...,16.5,54,7800,6.2,no,no,no,good,no,no
397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,100.0,...,15.8,49,6600,5.4,no,no,no,good,no,no
398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,114.0,...,14.2,51,7200,5.9,no,no,no,good,no,no
399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,131.0,...,15.8,53,6800,6.1,no,no,no,good,no,no

In [5]:
loader.X_train

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane
282,20.0,70.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,123.0,...,14.6,44,5500,4.8,no,no,no,good,no,no
24,42.0,100.0,1.015,4.0,0.0,normal,abnormal,notpresent,present,NaN,...,11.1,39,8300,4.6,yes,no,no,poor,no,no
38,69.0,80.0,1.020,3.0,0.0,abnormal,normal,notpresent,notpresent,NaN,...,12.5,NaN,NaN,NaN,yes,no,no,good,no,no
86,56.0,80.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,415.0,...,NaN,NaN,NaN,NaN,no,yes,no,good,no,no
335,60.0,60.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,134.0,...,14.2,48,10700,5.6,no,no,no,good,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,34.0,60.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,91.0,...,13.5,48,8600,4.9,no,no,no,good,no,no
114,12.0,60.0,1.015,3.0,0.0,abnormal,abnormal,present,notpresent,NaN,...,12.1,NaN,10300,NaN,no,no,no,good,no,no
303,55.0,70.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,107.0,...,17.0,50,6700,6.1,no,no,no,good,no,no
260,30.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,131.0,...,14.1,45,9400,5.3,no,no,no,good,no,no
93,73.0,100.0,1.010,3.0,2.0,abnormal,abnormal,present,notpresent,295.0,...,9.2,30,7000,3.2,yes,yes,yes,poor,no,no

In [6]:
X_train, y_train,X_test,y_test = loader.X_train, loader.y_train, loader.X_test, loader.y_test
from package.src.preprocessing import FeatureSelector
from package.src.preprocessing import DataPreprocessor, DataNormaliser
pp = DataPreprocessor(missing_data_strategy= "mean", categorical_encoding= "label")
fs = FeatureSelector()
dn = DataNormaliser()
X_train,y_train= pp.fit_transform(X_train,y_train)
X_test,y_test=pp.transform(X_test,y_test)

rbc
pc
pcc
ba
pcv
wc
rc
htn
dm
cad
appet
pe
ane
classification
age
bp
sg
al
su
rbc
pc
pcc
ba
bgr
bu
sc
sod
pot
hemo
pcv
wc
rc
htn
dm
cad
appet
pe
ane
age
bp
sg
al
su
rbc
values_taken ['normal', 'abnormal']
pc
values_taken ['normal', 'abnormal']

/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

pcc
values_taken ['present', 'notpresent']
ba
values_taken ['present', 'notpresent']
bgr
bu
sc
sod
pot
hemo
pcv
wc
rc
htn
values_taken ['no', 'yes']
dm
values_taken ['\tyes', '\tno', 'no', 'yes']
('\tyes', 'yes')
('\tno', 'no')
cad
values_taken ['\tno', 'no', 'yes']
('\tno', 'no')
appet
values_taken ['good', 'poor']
pe
values_taken ['no', 'yes']
ane
values_taken ['no', 'yes']
classification
values_taken ['ckd\t', 'notckd', 'ckd']
('ckd\t', 'ckd')
dict_keys(['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane', 'classification'])
Index(['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
       'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification'],
      dtype='object')
rbc
pc
pcc
ba
pcv
wc
rc
htn
dm
cad
appet
pe
ane
classification
age
sg
al
su
rbc
pc
bgr
bu
sc
sod
pot
hemo
pcv
wc
rc
dict_keys(['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane', 'classification'])
correcting rbc
correcting pc
correcting pcc
correcting ba
correcting htn
correcting dm
correcting cad
correcting appet
correcting pe
correcting ane
correcting classification
Index(['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
       'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification'],
      dtype='object')
Index(['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
       'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification'],
      dtype='object')

/mnt/c/Users/marou/PycharmProjects/Projet3A_ML/package/src/preprocessing/_preprocess.py:94: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.data[col_name][self.data[col_name] == values_to_exchange[0]] = values_to_exchange[1]
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/marouanemaachou/anaconda3/envs/ML/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/mnt/c/Users/marou/PycharmProjects/Projet3A_ML/package/src/preprocessing/_preprocess.py:100: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.data[col_name][self.data[col_name] == values_to_exchange[0]] = values_to_exchange[1]

In [7]:
pp.typos_data

{'age': [],
 'bp': [],
 'sg': [],
 'al': [],
 'su': [],
 'rbc': [],
 'pc': [],
 'pcc': [],
 'ba': [],
 'bgr': [],
 'bu': [],
 'sc': [],
 'sod': [],
 'pot': [],
 'hemo': [],
 'pcv': [],
 'wc': [],
 'rc': [],
 'htn': [],
 'dm': [('\tyes', 'yes'), ('\tno', 'no')],
 'cad': [('\tno', 'no')],
 'appet': [],
 'pe': [],
 'ane': [],
 'classification': [('ckd\t', 'ckd')]}

In [8]:
X_train

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane
282,20.0,70.0,1.020000,0.000000,0.000000,1,1,0,0,123.000000,...,14.600000,44.000000,5500.000000,4.800000,0,0,0,0,0,0
24,42.0,100.0,1.015000,4.000000,0.000000,1,0,0,1,148.553125,...,11.100000,39.000000,8300.000000,4.600000,1,0,0,1,0,0
38,69.0,80.0,1.020000,3.000000,0.000000,0,1,0,0,148.553125,...,12.500000,38.877968,8362.834961,4.732627,1,0,0,0,0,0
86,56.0,80.0,1.017414,1.034375,0.432177,1,1,0,0,415.000000,...,12.503195,38.877968,8362.834961,4.732627,0,1,0,0,0,0
335,60.0,60.0,1.020000,0.000000,0.000000,1,1,0,0,134.000000,...,14.200000,48.000000,10700.000000,5.600000,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,34.0,60.0,1.020000,0.000000,0.000000,1,1,0,0,91.000000,...,13.500000,48.000000,8600.000000,4.900000,0,0,0,0,0,0
114,12.0,60.0,1.015000,3.000000,0.000000,0,0,1,0,148.553125,...,12.100000,38.877968,10300.000000,4.732627,0,0,0,0,0,0
303,55.0,70.0,1.020000,0.000000,0.000000,1,1,0,0,107.000000,...,17.000000,50.000000,6700.000000,6.100000,0,0,0,0,0,0
260,30.0,80.0,1.020000,0.000000,0.000000,1,1,0,0,131.000000,...,14.100000,45.000000,9400.000000,5.300000,0,0,0,0,0,0
93,73.0,100.0,1.010000,3.000000,2.000000,0,0,1,0,295.000000,...,9.200000,30.000000,7000.000000,3.200000,1,1,1,1,0,0

In [9]:
X_test

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane
37,72.000000,80.0,1.017414,1.034375,0.432177,1,1,0,0,137.000000,...,9.700000,28.000000,6900.000000,2.500000,1,2,0,1,0,1
348,38.000000,80.0,1.020000,0.000000,0.000000,1,1,0,0,99.000000,...,13.600000,44.000000,7300.000000,6.400000,0,1,0,0,0,0
122,34.000000,70.0,1.017414,1.034375,0.432177,1,1,0,0,148.553125,...,6.000000,38.877968,8362.834961,4.732627,1,1,0,0,0,1
94,65.000000,70.0,1.010000,0.000000,0.000000,1,1,0,0,93.000000,...,11.600000,36.000000,11900.000000,3.900000,0,2,0,0,0,0
244,64.000000,90.0,1.015000,3.000000,2.000000,1,0,1,0,463.000000,...,12.200000,40.000000,9800.000000,4.600000,1,2,0,0,0,1
15,40.000000,80.0,1.015000,3.000000,0.000000,1,1,0,0,76.000000,...,7.600000,24.000000,3800.000000,2.800000,1,1,0,0,0,1
146,53.000000,100.0,1.010000,1.000000,3.000000,0,1,0,0,213.000000,...,12.503195,38.877968,8362.834961,4.732627,0,2,0,0,0,0
30,51.569405,70.0,1.017414,1.034375,0.432177,1,1,0,0,93.000000,...,12.503195,38.877968,8362.834961,4.732627,1,0,0,0,0,0
296,41.000000,70.0,1.020000,0.000000,0.000000,1,1,0,0,125.000000,...,16.800000,41.000000,6300.000000,5.900000,0,1,0,0,0,0
163,46.000000,80.0,1.010000,0.000000,0.000000,1,1,0,0,160.000000,...,9.000000,27.000000,8100.000000,3.200000,1,1,0,1,0,1
268,51.569405,80.0,1.017414,1.034375,0.432177,1,1,0,0,100.000000,...,16.300000,53.000000,8500.000000,4.900000,0,1,0,0,0,0
299,73.000000,60.0,1.020000,0.000000,0.000000,1,1,0,0,127.000000,...,15.100000,52.000000,11000.000000,4.700000,0,1,0,0,0,0
95,62.000000,90.0,1.015000,1.000000,0.000000,1,1,0,0,94.000000,...,12.503195,38.877968,8362.834961,4.732627,1,1,0,0,1,1
359,74.000000,60.0,1.020000,0.000000,0.000000,1,1,0,0,88.000000,...,17.200000,53.000000,6000.000000,4.500000,0,1,0,0,0,0
108,45.000000,80.0,1.015000,0.000000,0.000000,1,0,0,0,107.000000,...,11.800000,37.000000,10200.000000,4.200000,0,1,0,0,0,0
287,39.000000,70.0,1.025000,0.000000,0.000000,1,1,0,0,124.000000,...,13.400000,43.000000,8362.834961,4.732627,0,1,0,0,0,0
397,12.000000,80.0,1.020000,0.000000,0.000000,1,1,0,0,100.000000,...,15.800000,49.000000,6600.000000,5.400000,0,1,0,0,0,0
342,44.000000,60.0,1.020000,0.000000,0.000000,1,1,0,0,95.000000,...,15.000000,50.000000,7700.000000,6.300000,0,1,0,0,0,0
245,48.000000,100.0,1.017414,1.034375,0.432177,1,1,0,0,103.000000,...,6.300000,19.000000,7200.000000,2.600000,1,1,1,1,0,0
126,70.000000,90.0,1.015000,0.000000,0.000000,1,1,0,0,144.000000,...,12.000000,37.000000,8200.000000,4.500000,1,2,0,1,1,0
56,76.000000,70.0,1.015000,3.000000,4.000000,1,0,1,0,148.553125,...,10.200000,30.000000,11300.000000,3.400000,1,2,1,1,1,0
270,23.000000,80.0,1.025000,0.000000,0.000000,1,1,0,0,111.000000,...,14.300000,41.000000,7200.000000,5.000000,0,1,0,0,0,0
147,60.000000,60.0,1.010000,3.000000,1.000000,1,0,1,0,288.000000,...,7.900000,25.000000,15200.000000,3.000000,1,1,0,1,0,1
53,62.000000,80.0,1.015000,0.000000,5.000000,1,1,0,0,246.000000,...,13.600000,40.000000,8500.000000,4.700000,1,2,0,0,0,0
43,35.000000,80.0,1.010000,1.000000,0.000000,0,1,0,0,79.000000,...,7.900000,24.000000,7900.000000,3.100000,0,2,0,0,0,0
252,45.000000,80.0,1.025000,0.000000,0.000000,1,1,0,0,82.000000,...,15.900000,46.000000,9100.000000,4.700000,0,1,0,0,0,0
198,59.000000,100.0,1.020000,4.000000,2.000000,1,1,0,0,252.000000,...,11.200000,30.000000,26400.000000,3.900000,1,2,0,1,1,0
234,37.000000,100.0,1.010000,0.000000,0.000000,0,1,0,0,148.553125,...,15.000000,44.000000,4100.000000,5.200000,1,1,0,0,0,0
34,70.000000,70.0,1.010000,1.000000,0.000000,1,1,1,1,171.000000,...,12.503195,38.877968,8362.834961,4.732627,0,2,0,1,0,0
312,80.000000,70.0,1.020000,0.000000,0.000000,1,1,0,0,148.553125,...,15.300000,48.000000,6300.000000,6.100000,0,1,0,0,0,0
284,33.000000,80.0,1.025000,0.000000,0.000000,1,1,0,0,100.000000,...,16.900000,52.000000,6700.000000,6.000000,0,1,0,0,0,0
212,40.000000,70.0,1.015000,3.000000,4.000000,1,1,0,0,253.000000,...,10.900000,31.000000,8800.000000,3.400000,1,2,0,1,1,0
368,30.000000,80.0,1.025000,0.000000,0.000000,1,1,0,0,82.000000,...,14.900000,45.000000,9400.000000,5.900000,0,1,0,0,0,0
100,34.000000,70.0,1.015000,4.000000,0.000000,0,0,0,0,153.000000,...,12.503195,38.877968,8362.834961,4.732627,0,1,0,0,1,0
58,73.000000,80.0,1.020000,2.000000,0.000000,0,0,0,0,253.000000,...,10.500000,33.000000,7200.000000,4.300000,1,2,1,0,0,0
384,57.000000,60.0,1.020000,0.000000,0.000000,1,1,0,0,132.000000,...,15.400000,42.000000,11000.000000,4.500000,0,1,0,0,0,0
50,53.000000,60.0,1.017414,1.034375,0.432177,1,1,0,0,91.000000,...,8.600000,28.000000,11000.000000,3.800000,1,2,0,1,1,1
285,66.000000,70.0,1.020000,0.000000,0.000000,1,1,0,0,94.000000,...,16.000000,41.000000,5300.000000,5.900000,0,1,0,0,0,0
394,50.000000,80.0,1.020000,0.000000,0.000000,1,1,0,0,137.000000,...,14.100000,45.000000,9500.000000,4.600000,0,1,0,0,0,0
333,23.000000,80.0,1.020000,0.000000,0.000000,1,1,0,0,99.000000,...,17.700000,46.000000,4300.000000,5.500000,0,1,0,0,0,0

In [10]:
dn.fit(X_train)
X_train=dn.transform(X_train)
X_test=dn.transform(X_test)
#fs.pca_fit(X_train)

In [11]:
X_train.shape

(360, 24)

In [12]:
X_test.shape

(40, 24)

In [13]:
#X_train=fs.pca_transform(X_train)
#X_test=fs.pca_transform(X_test)

In [14]:
from package.src.modeling import Model

In [15]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(X_train,y_train)
print(model.score(X_train,y_train))
print(model.score(X_test,y_test))

1.0
0.975

In [16]:
model.coef_

array([[ 0.22618711, -0.44273916,  2.15666768, -1.06489082, -0.55991166,
         0.50248146,  0.30451393, -0.11976058, -0.06014616, -0.80345141,
        -0.24202944, -0.94024408,  0.53505525,  0.05776535,  1.4043257 ,
         1.12260581, -0.14087772,  0.80309039, -0.87982294, -0.96654326,
        -0.01438101, -0.88882043, -0.76035198, -0.11957375]])